

/*! CSS Used from: Embedded */

body {
    height: 100%;
  }


  /*! CSS Used from: Embedded */

  body {
    margin: 0;
  }

  :focus:not([data-focusvisible-polyfill]) {
    outline: none;
  }

  .css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
  }

  .css-901oao {
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1.00);
    display: inline;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .css-16my406 {
    color: inherit;
    font: inherit;
    white-space: inherit;
  }

  .r-13awgt0 {
    -ms-flex: 1 1 0%;
    -webkit-flex: 1;
    flex: 1;
  }

  .r-4qtqp9 {
    display: inline-block;
  }

  .r-ywje51 {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .r-12vffkv>* {
    pointer-events: auto;
  }

  .r-12vffkv {
    pointer-events: none!important;
  }

  .r-14lw9ot {
    background-color: rgba(255, 255, 255, 1.00);
  }

  .r-1p0dtai {
    bottom: 0px;
  }

  .r-1d2f490 {
    left: 0px;
  }

  .r-1xcajam {
    position: fixed;
  }

  .r-zchlnj {
    right: 0px;
  }

  .r-ipm5af {
    top: 0px;
  }

  .r-yyyyoo {
    fill: currentcolor;
  }

  .r-dnmrzs {
    max-width: 100%;
  }

  .r-bnwqim {
    position: relative;
  }

  .r-1plcrui {
    vertical-align: text-bottom;
  }

  .r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .r-u8s1d {
    position: absolute;
  }

  .r-q4m81j {
    text-align: center;
  }

